.application-details th{
    background-color: #F0F0F0
}

.text-center{
    text-align: center!important;
}

.search-container{
    padding: 5px 5px 0 5px;
    border: 1px solid rgba(204, 204, 204, 0.35);
    margin-bottom: 10px;    
}
.search-container .button-block{
    margin-top: 24px;
}

.search-container .button-block input{
    margin: 0 10px;
}
