

.react-datepicker__input-container input{
    border-bottom-right-radius:4px!important;
    border-top-right-radius:4px!important;
    border-bottom-left-radius: 0px!important;
    border-top-left-radius: 0px!important;
}

